@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 77 12% 88%;
    --foreground: 0 0% 0%;
    --card: 77 12% 80%;
    --card-foreground: 0 0% 100%;
    --popover: 260 25% 18%;
    --popover-foreground: 0 0% 100%;
    --primary: 70 32% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 77 12% 30%;
    --secondary-foreground: 260 30% 12%;
    --muted: 77 12% 70%;
    --muted-foreground: 77 12% 10%;
    --accent: 320 100% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 77 12% 75%;
    --input: 77 12% 92%;
    --ring: 270 90% 65%;
    --radius: 1rem;
    --chart-1: 270 90% 65%;
    --chart-2: 180 100% 50%;
    --chart-3: 320 100% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark:root {
    --background: 77 12% 7%;
    --foreground: 0 0% 100%;
    --card: 77 12% 18%;
    --card-foreground: 0 0% 100%;
    --popover: 260 25% 18%;
    --popover-foreground: 0 0% 100%;
    --primary: 77 90% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 77 12% 50%;
    --secondary-foreground: 260 30% 12%;
    --muted: 77 20% 25%;
    --muted-foreground: 260 10% 70%;
    --accent: 77 12% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 77 12% 25%;
    --input: 77 12% 3%;
    --ring: 270 90% 65%;
    --radius: 1rem;
    --chart-1: 270 90% 65%;
    --chart-2: 180 100% 50%;
    --chart-3: 320 100% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}
